body {
    background-color: black;
    margin: 0;
}
p {
  color: #82FFB7;
  text-align: center;
}
h1 {
  text-align: center;
  color: #33FF8F;
  font-family: "century gothic", sans-serif;
  font-size: 250%;
}


#menu-bar{
  background-color: black;
  color:#0000FF;
  position: absolute;
  width: 100%;
  height: 5%;
  text-align:center;
  left:0%;
}

button.menu-button{
  font-family: "century gothic", sans-serif;
  font-size: 100%;
  padding:0;
  border:0;
  background-color: #2F4F4F;
  color: #33FF8F;
  width:10%;
  height:80%;
  text-align:center;
  vertical-align:middle;
  margin:0;
  float:center;
}
button.menu-button:hover{
  background-color: #33FF8F;
  color: black;
  font-size: 150%;
  width: 15%;
  height: 100%;  
}

button.menu-button:active{
  background-color: black;
  color: white;
}





