body, html {
  background-color: #151515;
  margin: 0;
  padding:0;
  height:100%;
  background-image: url('./concrete_seamless.png');
}

p {
  margin:5px;
  color: #BDBDBD;
  font-family: Lato,Arial, sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
  color: black;
  font-family:"PT Mono", Arial,monospace;
  font-size: 500%;
}
h3{
  color: white;
  font-family: Lato, Arial, sans-serif;
  font-size: 225%;
  background-color: red;
}

.full-page{
  display:block;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
}

#black-page {
  /*background-image: url('./pw_maze_black.png');*/
  padding-top: 100px;
}
#splash-page {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


#xkcdcredit{
  text-align:right;
  font-size: 10%;
}
a{
  color:white;
}
.mainb{
 width:50%;
 left:25%;
 position: relative;
 text-align:center;
 display: block;
}

.body-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

#menu-bar{
  position: relative;
  width: 64%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;

}

.active{
  font-family: "PT Mono", monospace;
  font-size: 120%;
  padding:5px;
  width:16%;
  border:0;
  text-align:center;
  vertical-align:middle;
  margin:auto;
  transition: all 0.3s ease 0s;
  background-color: #33FF8F;
  color: black;
}

.rev {
  unicode-bidi: bidi-override;
  direction: rtl;
}


.menu-button{
  font-family: "PT Mono", monospace;
  font-size: 120%;
  padding:5px;
  border:0;
  background-color: #2F4F4F;
  color: #33FF8F;
  width:16%;
  text-align:center;
  vertical-align:middle;
  margin:auto;
  transition: all 0.3s ease 0s;
}

.menu-button:hover{
  background-color: #33FF8F;
  color: black;
  font-size: 150%;
  padding: 7px;
  width: 24%;
}

.menu-button:active{
  background-color: black;
  color: white;
}

.blinking-cursor {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 100;
  font-size: 100%;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: gray;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: gray;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: gray;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: gray;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: gray;
  }
}
